<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TourOperatorEntities" connectionString="metadata=res://*/TourOperator.csdl|res://*/TourOperator.ssdl|res://*/TourOperator.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OT0F24Q\SQLEXPRESS;initial catalog=TourOperator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>